<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lizijian.officeauto.mapper.AsrMapper">

    <update id="writeAsrCallbackResponse">
        update asr
        set text = #{text}
        where request_id = #{requestId}
    </update>

    <insert id="createAsrTask" useGeneratedKeys="true" keyColumn="id">
        insert into asr(uuid,
                        user_id,
                        request_id)
        values (#{uuid}, #{userId}, #{requestId})
    </insert>

    <select id="getAsrResultText" resultType="java.lang.String">
        select asr.text
        from asr
        where uuid = #{fileName}
    </select>


</mapper>