<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lizijian.officeauto.mapper.MajorMapper">
    
    <select id="getMajorList" resultType="Major">
        select id as id, majorname as name
        from major
    </select>

    <insert id="addMajor" parameterType="Major" keyProperty="id" useGeneratedKeys="true">
        insert into major(majorname)
        values (#{name})
    </insert>

    <delete id="deleteMajor">
        delete from major
        where id = #{majorId}
    </delete>

    <update id="upDateMajorName" parameterType="Major">
        update major
        set majorname = #{name}
        where id = #{id}
    </update>

    <select id="getMajorByMajorName" resultType="Major">
        select id as id, majorname as name
        from major
        where majorname = #{Majorname}
    </select>
    
</mapper>