<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lizijian.officeauto.mapper.UrlMapper">

    <select id="getUrl" resultMap="urlMap">
        select url.id as id,
               url.url as url,
               role.id as rid,
               role.name as rolename,
               role.nameZh as rolennameZh
        from url
        left join url_role  on url.id = url_role.urlid
        left join role on url_role.roleid = role.id
    </select>
    <resultMap id="urlMap" type="Url">
        <id property="id" column="id" />
        <result property="httpUrl" column="url"/>
        <collection property="needRoles" javaType="list" ofType="Role">
            <id property="id" column="rid"/>
            <result property="name" column="rolename"/>
            <result property="nameZh" column="rolennameZh"/>
        </collection>
    </resultMap>



</mapper>